body{
  background-color: 	#f9f9f9;
  font-family: Arial,sans-serif;
}
main{
  margin: 0 auto;

  height: 780px;
  width: 900px;
  font-size: 14px;

}
table.bigBox{
  background-color: white;
  border: 1px solid black;
}
.phonebase{
  float: left;
}
.Sidebar{
  float: right;
}
.Logo{
  width: 276px;
  height: 91px;
  margin-left:  48px;
}
.link {
  margin: 0 auto;
  border-radius: 5px;
  width:100%;
  height: 30px;
  text-align: center;
  font-weight: bold;
  background-color: #2e81ec;
  color: white;

}
.transparent{
  opacity: 0.4;
}

p{
  text-align: center;
  font-weight: bold;

}


.Details{
  margin: auto;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 800;
  background-color: #f9f9f9;
}
 td.box{
  border: 1px solid black;
  width: 42%;
  height: 30px;
  border-radius: 5px;
  opacity: 0.5;
}

.Extra{
  line-height: 20%;
}
a{
  text-decoration: none;
  color: #3795ef;
}

.Terms{
  font-weight: bold;
}

.Apps{
  margin-left: 33px;
}
footer{
  margin: auto;
  margin-bottom: 0% ;
  width: 900px;
  font-weight: 600;
  text-transform: uppercase;
}

.copy{
  opacity: 0.4;
}
